/* index.css */

/* Container styles */
.filters-container {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

/* Item styles */
.item {
  margin: 0 10px;
  margin-bottom: 10px; /* Add some space between items */
  font-weight: 600;
  display: flex;
  justify-content: center;
  background-color: #eaf2ea;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block; /* Use inline-block to enable scaling */
  position: relative; /* For positioning the arrow */
  transition: transform 0.3s, color 0.3s; /* Add smooth transitions for transform and color changes */
  font-size: 15px; /* Initial font size */
  /* Set initial width for desktop */
}

.item:hover {
  transform: translateY(-5px); /* Move the item up slightly on hover */
  color: #e74c3c; /* Change text color on hover */
  animation: shake 0.5s; /* Apply the shake animation on hover */
}

/* Arrow styles */
.item svg {
  margin-left: 30px; /* Add some space between text and arrow */
  transition: transform 0.3s; /* Add a smooth transition */
  font-weight: 500;
}

/* Arrow animation on hover */

/* Button animation */
.button {
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid transparent;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Add smooth transitions */
}

.button:hover {
  background-color: transparent;
  transform: scale(1.1); /* Scale the button on hover */
}

/* Media queries for responsiveness */
@media (max-width: 767px) {
}
